<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">


    <LinearLayout
        android:id="@+id/layout_menu_delogado"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:gravity="center"
        android:orientation="vertical">


        <br.com.mobicare.cielo.commons.presentation.utils.custom.TypefaceTextView
            android:id="@+id/textview_menu_inicio_deslogado"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@drawable/menu_button_shape"
            android:clickable="true"
            android:padding="16dp"
            android:text="@string/menu_inicio"
            android:textColor="@drawable/menu_text_color"
            android:textSize="14sp"
            app:typeface="MuseoSans-500.ttf" />

        <br.com.mobicare.cielo.commons.presentation.utils.custom.TypefaceTextView
            android:id="@+id/textview_menu_ajuda_deslogado"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@drawable/menu_button_shape"
            android:clickable="true"
            android:padding="16dp"
            android:text="@string/menu_central_ajuda"
            android:textColor="@drawable/menu_text_color"
            android:textSize="14sp"
            app:typeface="MuseoSans-500.ttf" />


        <br.com.mobicare.cielo.commons.presentation.utils.custom.TypefaceTextView
            android:id="@+id/textview_menu_notificacoes_deslogado"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@drawable/menu_button_shape"
            android:clickable="true"
            android:padding="16dp"
            android:visibility="gone"
            android:text="@string/menu_notificacoes"
            android:textColor="@drawable/menu_text_color"
            android:textSize="14sp"
            app:typeface="MuseoSans-500.ttf" />

        <View
            android:layout_width="match_parent"
            android:layout_height="1dp"
            android:layout_marginBottom="8dp"
            android:layout_marginLeft="16dp"
            android:layout_marginRight="16dp"
            android:layout_marginTop="8dp"
            android:alpha="0.2"
            android:background="@color/gray_light" />

        <RelativeLayout
            android:id="@+id/layout_menu_cielo_opniao_deslogado"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@drawable/menu_button_shape"
            android:clickable="true">

            <br.com.mobicare.cielo.commons.presentation.utils.custom.TypefaceTextView
                android:id="@+id/textViewOpniao"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:padding="16dp"
                android:text="@string/menu_opniao"
                android:textColor="@color/text_color_263238"
                android:textSize="14sp"
                app:typeface="MuseoSans-500.ttf" />

            <ImageView
                android:layout_width="24dp"
                android:layout_height="24dp"
                android:layout_alignParentRight="true"
                android:layout_centerVertical="true"
                android:layout_marginRight="24dp"
                android:contentDescription="@null"
                app:srcCompat="@drawable/ic_arrow_link" />

        </RelativeLayout>

        <br.com.mobicare.cielo.commons.presentation.utils.custom.TypefaceTextView
            android:id="@+id/textview_menu_sobre_deslogado"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@drawable/menu_button_shape"
            android:clickable="true"
            android:padding="16dp"
            android:text="@string/menu_sobre"
            android:textColor="@drawable/menu_text_color"
            android:textSize="14sp"
            app:typeface="MuseoSans-500.ttf" />


        <RelativeLayout
            android:id="@+id/layout_menu_cielo_mobile_deslogado"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@drawable/menu_button_shape"
            android:clickable="true">

            <br.com.mobicare.cielo.commons.presentation.utils.custom.TypefaceTextView
                android:id="@+id/textview_menu_cielo_mobile_deslogado"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:paddingLeft="16dp"
                android:paddingRight="16dp"
                android:paddingTop="16dp"
                android:text="@string/menu_cielo_mobile"
                android:textColor="@color/text_color_263238"
                android:textSize="14sp"
                app:typeface="MuseoSans-500.ttf" />

            <br.com.mobicare.cielo.commons.presentation.utils.custom.TypefaceTextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@id/textview_menu_cielo_mobile_deslogado"
                android:paddingLeft="16dp"
                android:paddingRight="16dp"
                android:paddingTop="2dp"
                android:text="@string/menu_cielo_mobile_description"
                android:textColor="@color/gray_light"
                android:textSize="12sp"
                app:typeface="MuseoSans-500.ttf" />

            <ImageView
                android:layout_width="24dp"
                android:layout_height="24dp"
                android:layout_alignParentRight="true"
                android:layout_marginRight="24dp"
                android:layout_marginTop="12dp"
                android:contentDescription="@null"
                app:srcCompat="@drawable/ic_arrow_link" />

        </RelativeLayout>


    </LinearLayout>


</layout>
